<div class="hero">
  <h1 id="text">Starting...</h1>
  <div>
  <lottie-player
      src="https://assets4.lottiefiles.com/packages/lf20_wnpcfdk3.json"
      mode="bounce"
      background="transparent"
      speed="1"
      style="width: 250px; height: 250px"
      loop
      autoplay
    ></lottie-player>
  </div>
</div>
<lottie-player
  id="effects"
  src="https://assets4.lottiefiles.com/packages/lf20_wkgiytpm.json"
  mode="bounce"
  background="transparent"
  speed="1"
  style="width: 300px; height: 300px"
  loop
  autoplay
></lottie-player>

<input type="number" name="speed" id="speed" value="1" min="1" max="10" step="1" />
