<div class="container mt-4">
<div id="slider-container">
  <div class="slider-content">
    <div
      class="slide active"
      style="
        background-image: url('/images/artwork/Luo_Zhongli_01.jpg');
      "
    ></div>
    <div
      class="slide"
      style="
      background-image: url('/images/artwork/Luo_Zhongli_02.jpg');
      "
    ></div>
    
    <% for(let i=0; i< artworks.length; i++) {%>
    <div
      class="slide"
        style="background-image: url('/images/artwork/<%= artworks[i] %>');"
    ></div>
    <% } %>


    <button class="arrow left-arrow" id="left">
      <i class="fas fa-arrow-left"></i>
    </button>

    <button class="arrow right-arrow" id="right">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>
</div>